
<!--주문내역 상세 조회-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader"/>
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
    <link rel="stylesheet" th:href="@{/css/myorderdetails.css}" href="../css/myorderdetails.css">
</head>
<body>
<div id=tablet>
    <div id=left-sidebar> <!--왼쪽 사이드 레이아웃-->
        <button class="mainBtn" onclick="location.href='/'">HOME</button >
    </div>

    <div id=middle> <!--가운데 레이아웃-->
        <div class=middle-top>
            <div class=logo href="/"> <!--단타포차 로고-->
                <button type="button" id="logo">
                    <a href="/">Danta</a>
                </button>
            </div>
        </div>
        <div id=myorderdetails-middle> <!--가운데 레이아웃-->
<div class="container">
    <div class="titleContainer">
        <h1 class = "table">주문상세</h1>
    </div>

    <!--  주문일 | 주문번호  -->
    <!-- 아이템 목록  -->
    <div class="component">
        <div class="componentHeader">
            <div class="captionContainer">
                <span style="margin-right: 5px;">주문일: <strong th:text="${#temporals.format(myOrderDetails.orderDate, 'yyyy-MM-dd HH:mm')}"></strong></span>
                <span>| 주문번호: <strong th:text="${myOrderDetails.orderId}"></strong></span>
            </div>
            <div class="removeBtnContainer">
                <a th:href="@{/my/orders/delete/{orderId}(orderId=${myOrderDetails.orderId})}" onclick="return confirm('주문내역 삭제시 복구할 수 없습니다. 삭제하시겠습니까?')">주문내역 삭제</a>
            </div>
        </div>
        <div class="componentBody">
            <div class="orderInformationContainer" th:each="orderedProduct : ${myOrderDetails.orderedProductList}">
                <div class="itemContainer">
                    <div class="itemImageContainer">
                        <img class="itemImage" th:src="@{/products/{productId.}(productId.=${orderedProduct.itemImagePath})}" alt="">
                    </div>
                    <div class="itemInformationContainer">
                        <a th:href="@{/products/{productId.}(productId.=${orderedProduct.productId.})}">
                            <span style="font-weight: bold; margin-left: 100px;" th:text="${orderedProduct.itemName}"></span>
                        </a>
                        <span style="margin-top: 10px; margin-left: 100px;" th:text="${orderedProduct.itemPrice}"></span>
                    </div>
                    <div class="etcContainer">
                        <span th:text="${myOrderDetails.orderStatus.getStatus()}"></span>
                        <!-- todo 주문상태에 따라 분기처리 필요 -->
<!--                        <a th:href="@{/reviews/review?productId={productId}(productId=${orderedProduct.productId.})}">리뷰작성</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 받는사람 정보 -->
    <div class="component receiverComponent">
        <div class="componentHeader">
            <div class="captionContainer">구매자</div>
        </div>
        <div class="componentBody">
            <div class="receiverInformationContainer">
                <div class="receiverInformationLine">
                    <span>구매자</span>
                    <span><strong th:text="${myOrderDetails.receiverInfoDto.receiverName}"></strong></span>
                </div>
                <div class="receiverInformationLine">
                    <span>이메일</span>
                    <span><strong th:text="${myOrderDetails.receiverInfoDto.contact}"></strong></span>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
</div>
</body>
</html>