
<!--주문 결제 페이지-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader"/>
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
    <link rel="stylesheet" th:href="@{/css/order.css}" href="../css/order.css">
</head>
<body>

<div id=tablet>
    <div id=left-sidebar> <!--왼쪽 사이드 레이아웃-->
        <button class="mainBtn" onclick="location.href='/'">HOME</button >
    </div>

    <div id=middle> <!--가운데 레이아웃-->
        <div class=middle-top>
            <div class=logo href="/"> <!--단타포차 로고-->
                <button type="button" id="logo">
                    <a href="/">Danta</a>
                </button>
            </div>
        </div>


<div class="container">
    <div class="titleContainer">
        <h2>주문/결제</h2>
    </div>

    <!-- 주문자 정보 -->
    <div class="componentContainer">
        <div class="componentHeaderContainer">
            <h5>구매자정보</h5>
        </div>
        <div class="component">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">이름</th>
                    <td th:text="${ordererInfo.getNickname()}"></td>
                </tr>
                <tr>
                    <th scope="row">아이디</th>
                    <td th:text="${ordererInfo.getOrdererId()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- 주문상품 정보 -->
    <div class="componentContainer">
        <div class="componentHeaderContainer">
            <h5>주문상품정보</h5>
        </div>
        <div class="component">
            <table class="table">
                <tbody>
                <tr class="orderItemListTr" th:each="item : ${orderSummary.orderItemList}">
                    <td class="itemIdTd" style="display: none;" th:text="${item.itemId}"></td>
                    <td style="max-width: 500px; min-width: 450px; padding-left: 15px;" th:text="${item.name}"></td>
                    <td class="orderCountTd" style="max-width: 50px; min-width: 50px;" th:text="${item.orderCount}"></td>
                    <td style="max-width: 100px; min-width: 100px;" th:text="${#numbers.formatInteger(item.totalAmount, 3, 'COMMA')} +
                                                                                '(' + ${#numbers.formatInteger(item.price, 3, 'COMMA')} + ')'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 결제 -->
    <div class="componentContainer">
        <div class="componentHeaderContainer">
            <h5>결제정보</h5>
        </div>
        <div class="component">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">총상품가격</th>
                    <td th:text="${#numbers.formatInteger(orderSummary.totalAmount, 3, 'COMMA')} + ' 원'"></td>
                </tr>
                <tr>
                    <th scope="row">결제방법</th>
                    <td>카운터에 문의해주세요.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
    <div id=right-list >
        <div class="payButtonContainer">
            <div id="payBtn">
                <span>결제하기</span>
            </div>
    </div>
    </div>
</div>
<script th:src="@{/js/order.js}"></script>
</body>
</html>
