
<!--메뉴 항목의 상세정보를 보여주는 페이지-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/configHeader"/>
<head>
  <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
  <link rel="stylesheet" th:href="@{/css/itemdetails.css}" href="../css/itemdetails.css">
</head>
<body>
<div id=tablet>
  <div id=left-sidebar> <!--왼쪽 사이드 레이아웃-->
    <button class="mainBtn" onclick="location.href='/'">HOME</button >
  </div>

  <div id=middle> <!--가운데 레이아웃-->
    <div class=middle-top>
      <div class=logo href="/"> <!--단타포차 로고-->
        <button type="button" id="logo">
          <a href="/">Danta</a>
        </button>
      </div>
    </div>

<div class="container table">
  <div class="productContainer">
    <div class="imageContainer">
      <img class="productImage" th:src="@{${product.image}}" alt="">
    </div>
    <div class="informationContainer">
      <div class="itemNameContainer">
        <h2 class="itemName" th:text="${product.name}"></h2>
      </div>
      <div class="itemPriceContainer">
        <h2 class="itemPrice" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + ' 원'"></h2>
      </div>

      <div th:if="${product.stock &lt; 1}" class="soldOutContainer">
        <i class="fas fa-ban" style="color: #CCC;"></i> 품절
      </div>
      <div th:unless="${product.stock &lt; 1}" class="orderContainer">

        <form th:onsubmit="return validateOrderCount()">
          <div class="form-group">
            <input id="productId.Input" type="text" th:name="productId" th:value="${product.productId}"
                   style="display: none;">
            <input id="orderCountInput" type="number" th:value="1" th:min="1" th:max="${product.stockQuantity}"
                   th:name="orderCount">
            <button th:formmethod="post" th:formaction="@{/carts}" id="addToCartBtn" class="btn btn-light">
              장바구니
            </button>
          </div>
        </form>
        <div class="form-group">
          <button id="orderBtn" class="btn btn-primary">
            바로구매
          </button>
        </div>
      </div>
      <div class="detailsContainer">
      세부사항 :
      </br>
      원산지 표기 :
      </div>
    </div>
  </div>

</div>
  </div>
</div>

<script th:src="@{/js/validation/validateOrderCount.js}"></script>
<script th:src="@{/js/cart/cartInputList.js}"></script>
</body>
</html>
