
<!--메뉴 항목의 상세정보를 보여주는 페이지-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/configHeader"/>
<head>
  <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
  <link rel="stylesheet" th:href="@{/css/itemdetails.css}" href="../css/itemdetails.css">
</head>
<body>
<div id=tablet>
  <div id=left-sidebar> <!--왼쪽 사이드 레이아웃-->
    <button class="mainBtn" onclick="location.href='/'">HOME</button >
  </div>

  <div id=middle> <!--가운데 레이아웃-->
    <div class=middle-top>
      <div class=logo href="/"> <!--단타포차 로고-->
        <button type="button" id="logo">
          <a href="/">Danta</a>
        </button>
      </div>
    </div>

<div class="container table">
  <div class="productContainer">
    <div class="imageContainer">
      <img class="itemImage" th:src="@{${productDetails.getImage()}}" alt="">
    </div>
    <div class="informationContainer">
      <div class="itemNameContainer">
        <h2 class="itemName" th:text="${productDetails.name}"></h2>
      </div>
      <div class="itemPriceContainer">
        <h2 class="itemPrice" th:text="${#numbers.formatInteger(productDetails.price, 3, 'COMMA')} + ' 원'"></h2>
      </div>

      <div th:if="${productDetails.stock &lt; 1}" class="soldOutContainer">
        <i class="fas fa-ban" style="color: #CCC;"></i> 품절
      </div>
      <div th:unless="${productDetails.stock &lt; 1}" class="orderContainer">

        <form th:onsubmit="return validateOrderCount()">
          <div class="form-group">
            <input class="productId" id="productId.Input" type="number" th:name="productId" th:value="${productDetails.productId}"
                   style="display: none;">
            <input class="orderCount" id="orderCountInput" type="number" th:value="1" th:min="1" th:max="${productDetails.stock}"
                   th:name="orderCount">
            <button th:formmethod="post" th:formaction="@{/cart}" id="addToCartBtn" class="btn btn-light">
              장바구니
            </button>
          </div>
        </form>
        <div class="form-group">
          <button id="orderBtn" class="btn btn-primary">
            즉시 주문
          </button>
        </div>
      </div>
        <div class="detailsContainer">
          <h3 class="itemDescription" th:text="${productDetails.getDescription()}">소개</h3>
        </div>
      </div>
  </div>
</div>
<script th:src="@{/js/validation/validateOrderCount.js}"></script>
<script th:src="@{/js/cart/cartInputList.js}"></script>
</body>
</html>
