### Build ###
bin/
out/
target/
build/
.gradle/
.git/
.mvn/

### AP ###
db/
files/
logs/
work/
hazelcast-mc/
*.pid

### STS ###
.settings/
.project
.classpath
.factorypath

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
