.titleContainer {
    height: 10vh;
    display: flex;
    align-items: center;
}

#myorderdetails-middle {
    float: left;
    width: 950px;
    height: 75%;
    margin: 0 auto;
    margin-left: -80px;
}

h2, h5 {
    font-weight: bold;
    color: white;
}

.componentHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.captionContainer {
    color: white;
    font-size: 14px;
}

.captionContainer span {
    font-size: 12px;
    color: white;
}

.removeBtnContainer {
    border: 1px solid #CECECE;
}

.removeBtnContainer a {
    font-size: 14px;
    padding: 5px;
}

.componentBody {
    border-top: 2px solid white;
}

.orderInformationContainer {
    margin-top: 20px;
    height: 200px;
    display: flex;
    border: 1px solid #CECECE;
}

.receiverComponent {
    margin-top: 10px;
}

.itemContainer {
    display: flex;
    color: white;
}

.itemImageContainer {
    width: 150px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImage {
    max-width: 100%;
    max-height: 100%;
}

.itemInformationContainer {
    width: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemInformationContainer a {
}

.itemInformationContainer a:hover {
    text-decoration: underline;
}

.itemInformationContainer span {
    font-size: 13px;
}

.etcContainer {
    border-left: 1px solid white;
    width: 100px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.receiverInformationContainer span {
    padding: 10px 15px;
    font-size: 12px;
    color: white;
}

.receiverInformationLine {
    height: 45px;
}