<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>단타포차에 오신걸 환영합니다.</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
</head>


<body>
<div id=tablet>
    <div id=left-sidebar> <!--왼쪽 사이드 레이아웃-->
        <button class="mainBtn" onclick="location.href='/'">HOME</button >
    </div>

    <div id=middle> <!--가운데 레이아웃-->
        <div class=middle-top>
            <div class=logo href="/"> <!--단타포차 로고-->
                <button type="button" id="logo">
                    <a href="/">Danta</a>
                </button>

            </div>
        </div>

        <div class="login-page">
            <div class="form">
                <form class="login-form" action="/auth/user/login" method="post">
                    <div th:if="${param.error}" class="message" role="alert">
                        아이디 혹은 비밀번호가 잘못 입력되었습니다.
                    </div>
                    <div th:if="${param.logout}" class="message" role="alert">
                        로그아웃이 완료되었습니다.
                    </div>

                    <!-- id -->
                    <input type="text" name="username" class="form-control" id="username" placeholder="아이디를 입력하세요." required="required">
                    <label for="username"></label>

                    <!-- pwd -->
                    <input type="password" name="password" class="form-control" id="password" placeholder="패스워드를 입력하세요." required="required">
                    <label for="password"></label>

                    <button id="btn-login">로그인</button>

                    <!--회원가입 안내-->
                    <button id="Signup-Btn" type="button" onclick="location.href='/auth/user/save'">회원가입</button>

                    <p class="message">아이디 비밀번호를 잊으셨나요?<a href="#">Id/Pw 찾기</a></p>

                </form>
<!--                    <input type="button" value="회원가입" onclick="location.href='@{/auth/user/save}'"/>-->
            </div>
        </div>


    </div>

    <div id=right-sidebar> <!--오른쪽 사이드 레이아웃-->

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
</body>
</html>