<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <title>단타포차에 오신걸 환영합니다.</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css">
    <link rel="stylesheet" th:href="@{/css/chat.css}" href="../css/chat.css">

    <!-- 부가적인 테마 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<div id=tablet>
    <div id=left-sidebar> <!--왼쪽 사이드 레이아웃-->
        <button class="mainBtn" onclick="location.href='/'">HOME</button >
    </div>

    <div id=middle> <!--가운데 레이아웃-->
        <div class=middle-top>
            <div class=logo href="/"> <!--단타포차 로고-->
                <button type="button" id="logo">
                    <a href="/">Danta</a>
                </button>

            </div>
        </div>
        <br/>
        <div id="main-top">
            <div id="main-top-top">
                <h1>회원 정보 [My Page]</h1>
            </div>
            <div id="main-top-middle">
                <div id="main-top-middle-1">
                    <i class="fas fa-user-circle fa-5x"></i>
                </div>
                <div id="main-top-middle-2">

                    <li id="i1" th:sec:authentication="principal.username" ></li>

                    <a th:href="@{/user/update}" href="#">
                        <li id="i2">회원정보수정</li>
                    </a>
                    <a th:href="@{#}" href="#">
                        <li id="i3">결제조회</li>
                    </a>
                    <a th:href="@{#}" href="#">
                        <li id="i4">쿠폰조회</li>
                    </a>
                    <div>
                    <form id="needs-validation" novalidate>
                        <input type="hidden" id="id" th:value="${#authentication.principal.id}">
                    </form>
                    <button class="w-100 btn btn-lg btn-success" id="btn-delete">회원탈퇴</button>
                        <li id="i5">회원탈퇴</li>
                    </div>
                </div>

            </div>
    </div>
    </div>
</div>
<script th:src="@{/js/validation-update.js}"></script>
<script th:src="@{/js/user.js}"></script>
</body>
</html>
