<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<div th:replace="fragments/configHeader"></div>-->
<!--<body>-->
<!--<div id="categoryMenu">-->
<!--    <i class="category_icon fas fa-bars" style="font-size: 30px; color: black;"></i>-->
<!--    <div class="category_text">카테고리</div>-->
<!--</div>-->

<!--<div>-->
<!--    <div class="categories">-->
<!--        &lt;!&ndash;  LEVEL 1  &ndash;&gt;-->
<!--        <div class="level1">-->
<!--            <div th:each="category, idx : ${rootCategory.subCategories}"-->
<!--                 th:class="'level1_' + ${idx.index}">-->
<!--                <i th:if="${category.categoryName} eq '패션'" class="fas fa-tshirt"></i>-->
<!--                <i th:if="${category.categoryName} eq '가전/디지털'" class="fas fa-laptop-house"></i>-->
<!--                <i th:if="${category.categoryName} eq '도서'" class="fas fa-book"></i>-->
<!--                <i th:if="${category.categoryName} eq '식품'" class="fas fa-hamburger"></i>-->
<!--                <span th:text="${category.categoryName}"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--<script>-->
<!--    $(function() {-->
<!--        $("#categoryMenu").mouseover(function () {-->
<!--            $(".categories").css("display", "flex");-->
<!--            $(".categories").css("flex-direction", "row");-->
<!--            $(".level1").css("display", "inline-block");-->
<!--        });-->

<!--        $("#categoryMenu").mouseleave(function () {-->
<!--            $(".level1").css("display", "none");-->
<!--        });-->

<!--        // 카테고리 안보이게-->
<!--        $(".categories, .level1Categories").mouseleave(function () {-->
<!--            $(".categories, .category, .level1, .level2, .level3").css("display", "none");-->
<!--            $(".level1_0, .level1_1, .level1_2, .level1_3").css("color", "#111111");-->
<!--        });-->

<!--        // level 1 ====================-->
<!--        $(".level1_0, .level1_1, .level1_2, .level1_3").mouseover(function () {-->
<!--            $(".level1").css("display", "block");-->
<!--            $(".level1_0, .level1_1, .level1_2, .level1_3").css("color", "#111111");-->
<!--            $(".category").css("color", "#111111");-->
<!--            $(".level2").css("display", "block");-->
<!--            $(this).css("color", "#007BFF");-->
<!--            $(".level3").css("display", "none");-->
<!--        })-->
<!--    });-->
<!--</script>-->
