@import url(./css/style.css);

.mainBtn {
    display: inline-block;
    width: 125px;
    height: 70px;
    margin: 20px 0 20px 0;
    margin-left: 30px;
    padding: 20px 25px;
    font-size: 25px;
    text-align: center;
    font-family: "Jua", sans-serif;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 10000000s infinite alternate;
    background-color: transparent;
}

#list {
    color: white;
    font-size: 28px;
    font-family: "Jua";
    margin: 20px;
    border-bottom: 2px solid #fff;
}

#cart-tablet {
    color: white;
    font-size: 20px;
    font-family: "Jua";
    border: 20px solid #222;
    box-sizing: content-box;
    margin: 0 auto;
    width: 1100px;
    height: 600px;
    border-radius: 25px;
    background-image: url("벽돌.png");
}

#cart-middle {
    width: 800px;
    height: 400px;
    margin-left: 180px;
    margin-top: 70px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.74);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    animation: flicker-box 3s infinite alternate;
}
#cart-middle::-webkit-scrollbar {
    display: none;
}

#cart-bottom {
    width: 650px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.74);
    font-size: 30px;
    font-family: "Jua";
    margin-left: 180px;
    padding: 30px;
    border-bottom-left-radius: 2rem;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    animation: flicker-box 3s infinite alternate;
}

p#bottom{
    color: white;
}
#order {
    background-color: #ff0000bd;
    width: 150px;
    height: 100px;
    float: right;
    margin-top: -100px;
    margin-right: 120px;
    border-bottom-right-radius: 2rem;
    border: 2px solid #fff;
    border-left: none;
    font-size: 20px;
    font-family: "Jua";
    color: #fff;
    animation: flicker-box 3s infinite alternate;
}

#order:active {
    background: red;
}